body {
  background: #2b2b2b;
  color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  position: relative;
}

section {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 15px;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
  color: #00ff00;
  text-shadow: 2px 2px 5px #000;
}

#controles {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
  color: #00ff00;
  text-align: left;
}

#controles p {
  margin: 0;
  font-size: 16px;
}

#controles ul {
  list-style: none;
  padding: 0;
}

#controles li {
  font-size: 18px;
}

.tecla {
  font-weight: bold;
  color: #00ff00;
}

canvas {
  display: block;
  margin: 20px auto;
  background: #000;
  border: 2px solid #00ff00;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
}
